@import '../../assets/vars.scss';

.AdminPanel {
  padding: 40px 10px 0;
  width: 100%;
  max-width: 1400px;

  &__tabs {
    max-width: 300px;
    margin: -50px auto 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 750px) {
      margin: -50px auto 80px;
    }
  }

  &__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 40px;
    border-radius: 30px;
    background: #404040;
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background: #595959;
    }

    &--active {
      background: #595959;
    }
  }

  &__videos {
    display: flex;
    
    @media (max-width: 750px) {
      flex-direction: column;
    }
  }

  &__videos-list {
    position: relative;
    flex: 2 0;
    margin-right: 40px;

    @media (max-width: 750px) {
      margin-right: 0;
      margin-bottom: 40px;
    }
  }

  &__video {
    position: relative;
    margin-bottom: 15px;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid #666;
    background-color: #4d4d4d;
    transition: transform 0.4s ease-out;
    cursor: pointer;

    &--active {
      background-color: #85adad;
    }

    &:hover {
      transform: scale(1.02);

      &:not(.AdminPanel__multi-video--open) > .AdminPanel__video-moves {
        display: flex;
      }
    }
  }

  &__video-name {
    &--active {
      color: #00b33c;
    }
  }

  &__video-moves {
    display: none;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 40px;
  }

  &__video-move-btn {
    transition: transform 0.3s ease-out;

    &:hover {
      transform: scale(1.5);
    }
  }

  &__delete-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__multi-video {
    position: relative;
    margin-bottom: 15px;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid #666;
    background-color: #4d4d4d;
    cursor: pointer;

    &--open {
      padding-right: 40px;
      background-color: transparent;

      .AdminPanel__video-name-slug {
        margin-bottom: 20px;
      }
    }
  
    .AdminPanel__video {
      display: none;
      margin-left: 40px;
    }
  }

  &__video-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 30px;
    cursor: pointer;
  }

  &__video-label-plus,
  &__video-label-minus {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
  }

  &__video-label-minus {
    display: none;
  }

  &__util-checkbox {
    position: absolute;
    z-index: -1;
    visibility: hidden;

    &:checked ~ .AdminPanel__video {
      display: block;
    }
  
    &:checked + .AdminPanel__video-name {
      padding-bottom: 10px;
    }

    &:checked ~ .AdminPanel__video-label .AdminPanel__video-label-plus {
      display: none;
    }
  
    &:checked ~ .AdminPanel__video-label .AdminPanel__video-label-minus {
      display: block;
    }
  }

  &__videos-display {
    flex: 1 0;
  }
}